@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  font-size: 16px;
  overflow-x: hidden;
  color: #333;
  background: #eee;
}

#logo {
  font-weight: 800;
  cursor: default;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-signin {
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 400px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
}

.logo {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  color: rgb(52, 180, 52);
}

#inputEmail,
#inputPassword {
  padding: 0.5rem 0.5rem;
  margin-bottom: 5px;
  border: 1px solid #ddd;
}

.btn {
  padding: 0.6rem 0;
}

#btnLogin {
  background: rgb(51, 175, 51);
  color: #fff;
  font-weight: 550;
  border: none;
  cursor: pointer;
}

#btnSignUp {
  background: rgb(165, 164, 164);
  color: #fff;
  font-weight: 550;
  border: none;
  cursor: pointer;
}

#btnGoogle {
  text-align: center;
  text-decoration: none;
  color: rgb(121, 154, 197);
  font-weight: 550;
  margin-bottom: 1rem;
  cursor: pointer;
}

#btnGoogle:hover {
  color: rgb(75, 127, 196);
}