@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  font-size: 16px;
  overflow-x: hidden;
  color: #333;
  background: #eee;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.left,
.right {
  cursor: pointer;
}

.user-img {
  width: 128px;
  height: 128px;
}

.form-signUp {
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 400px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
}

#inputName,
#inputEmail,
#inputPassword {
  padding: 0.5rem 0.5rem;
  margin-bottom: 5px;
  border: 1px solid #ddd;
}

.btn {
  padding: 0.6rem 0;
}

#btnSignUp {
  background: rgb(51, 175, 51);
  color: #fff;
  font-weight: 550;
  border: none;
  cursor: pointer;
}