/* Unities */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  overflow: hidden;
}

.hidden {
  display: none;
}

.block_100 {
  padding-top: 100px;
}

.block_top_40 {
  padding-top: 40px;
}

@media(min-width: 768px) {
  body {
    background: #eee;
  }

  .container {
    max-width: 768px;
    margin: auto;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

@keyframes slide-down-out {
  from {
    padding-top: 40px;
    opacity: 1;
  }

  to {
    padding-top: 92vh;
    opacity: 0;
  }
}

@keyframes slide-down-in {
  from {
    padding-top: 80vh;
    opacity: 0;
  }

  to {
    padding-top: 95px;
    opacity: 1;
  }
}


/* talk */

.talk {
  height: 92vh;
  width: 100%;
  overflow-y: scroll;
  border-bottom: 1px solid #eee;
}

.talk-box {
  padding: 0.6rem;
  display: flex;
  flex-direction: row;
}

.talk-box.reverse {
  flex-direction: row-reverse;
}

.talk-info {
  display: flex;
  flex-direction: column;
}

.talk-info.reverse {
  align-items: flex-end;
}

.user-img img {
  height: 8vh;
  border-radius: 100%;
  margin: 0 0.6rem;
}

.message {
  display: flex;
  color: #000;
}

.message.reverse {
  flex-direction: row-reverse;
}

.user-message {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0.2rem 0.2rem 0 0.2rem;
  max-width: 500px;
}

.user-message.reverse {
  background: rgb(57, 235, 131);
  border: none;
}

.send-time {
  align-self: flex-end;
  font-size: 0.8rem;
  color: #777;
}

/* talk-input */

.talk-input {
  width: 100%;
  height: 8vh;
}

.talk-input input {
  height: 100%;
  border: none;
  padding: 0 1rem;
  font-size: 1.1rem;
}

.talk-input input:focus {
  outline: none;
}


/* Scroll Bar */
.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #999;
}




/* add Friend */
.add-friends {
  height: 100vh;
  overflow: scroll;
}

.search-friend {
  margin: 1rem;
}

.search-friend input {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  border: 1px solid #eee;
}

.search-friend input:focus {
  outline: none;
}

.search-friend i {
  color: #999;
  margin: 0.5rem;
  cursor: pointer;
}

.add-btn {
  background: rgb(60, 202, 60);
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 0.5rem 2rem;
  margin: 0 2rem 0 auto;
  cursor: pointer;
}

.add-btn:focus {
  outline: none;
}



/* chat */
.chat {
  height: 100vh;
  overflow-y: scroll;
}

.chat-box {
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: row;
  padding: 0.6rem;
}

.chat-box img {
  height: 8vh;
  border-radius: 100%;
  margin: 0 0.6rem;
}

.user-info {
  align-self: center;
}



/* friends */
.friends {
  height: 100vh;
  overflow-y: scroll;
}

.group,
.friend {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #eee;
}

.info {
  display: flex;
  flex-direction: row;
  color: #aaa;
  font-size: 0.8rem;
  margin: 0.5rem 1rem;
}

.group-num,
.friend-num {
  margin-left: 0.2rem;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
}

.item-img img {
  height: 8vh;
  border-radius: 100%;
  margin: 0 0.6rem;
}

.item-arrow {
  margin: 0 1rem 0 auto;
  color: #333;
  cursor: pointer;
}



/* navbar */
.navbar {
  z-index: 1;
  position: fixed;
  width: 100%;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgb(77, 97, 155);
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .15);
}

.tool {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* height: 9vh; */
  height: 60px;
}

.nav-item {
  flex: 1;
  height: 100%;
  padding: 0.8rem 0;
  font-size: 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, .7);
  border-bottom: 5px solid rgb(77, 97, 155);
}

.nav-item.active {
  color: #fff;
  border-bottom: 5px solid #fff;
}

.showcase {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  /* height: 5vh; */
  height: 40px;
}

.showcase div {
  flex: 1;
  text-align: center;
}

.back {
  cursor: pointer;
}

.logout {
  font-size: 0.8rem;
  cursor: pointer;
}